Game/proj.win32/Game.opensdf
Game/proj.win32/Game.sdf
Game/proj.win32/Game.v11.suo
Game/proj.win32/Debug.win32
Game/proj.win32/Release.win32
libsimple2d/libsimple2d.v11.suo
libsimple2d/simple/2d/Debug.win32
libsimple2d/simple/2d/Release.win32

